{% extends "base.html" %}
{% csrf_token %}

{% load static %}
{%load plotly_dash%}


 <script type="text/javascript" language="Javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.3.min.js"></script>

{% load leaflet_tags %}
{% load geojson_tags %}
{% block content %}
{% leaflet_js %}
{% leaflet_css %}


<script type="text/javascript" src="{% static 'js_sb/leaflet.ajax.min.js' %}"></script>

<!--TODO REMOVE IF DOESNT WORK-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<h4 id='user_name_banner' style="display:inline;"><b style="color:#2E56C7;">Scatter Charts</b>  Human Cases of Avian Influenza</h4>

<div class="{% plotly_class name='dashchart' %} card" style="height:100%; width:100%" >
{%plotly_app name="dashchart" ratio=0.65 %}
</div>


{% endblock %}