{% extends "base.html" %}
{% load static %}
{%load plotly_dash%}

{% load leaflet_tags %}
{% load geojson_tags %}
{% block content %}
{% leaflet_js %}
{% leaflet_css %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.5.1/nouislider.min.css"/>

<!--Embed plotly stacked barchart-->
<div class="{% plotly_class name='phrerMap' %} card" style="height:100%; width:50%;" >
    {%plotly_app name="phrerMap" ratio=0.65 %}
</div>

<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />


<div class="bottomcontainer">
    <div id="map"></div>

    <div class="{% plotly_class name='phrerMap' %} card" style="height:50%; width:100%;" >
        {%plotly_app name="phrerMap" ratio=0.65 %}
    </div>



    <div id='console'>
        <h2>Public Health Response Effectiveness (H5N1 HPAI)</h2>
        <h2>Hover over the 6 countries to learn about its
        public health response effectiveness over the years</h2>
    </div>
</div>

<style type="text/css">
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
}

#map {
  position: absolute;
  top: 50;
  bottom: 0;
  width: 91%;
  height:580px;
}

h1 {
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #2dc4b2;
}

#console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
}

.session {
  margin-bottom: 20px;
}

.row {
  height: 12px;
  width: 100%;
}

.colors {
  background: linear-gradient(to right, #A64BEE, #01D444);
  margin-bottom: 5px;
}

.label {
  width: 15%;
  display: inline-block;
  text-align: center;
}

div#legend.session {
background-color: #fff;
border-radius: 3px;
top: 225px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
padding: 5px;
position: absolute;
z-index: 1;
}

div#legend.session h4 {
margin: 0 0 10px;
}

div#legend.session span {
border-radius: 50%;
display: inline-block;
height: 10px;
margin-right: 5px;
width: 10px;
}

.svg-container{
height:500px;
}
</style>

<script type="text/javascript" src="{% static 'js_sb/leaflet.ajax.min.js' %}"></script>
<!--TODO REMOVE IF DOESNT WORK-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script type="text/javascript">
mapboxgl.accessToken = 'pk.eyJ1IjoiYW5qYWxpcmF2ZWVuZHJhbiIsImEiOiJjazgwZ3RjdG8wNTBxM2dtc2toZnU4bW8zIn0.cNgbDLku-qod0zbzncY4Rw';

var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/light-v10',
  //style: 'mapbox://styles/mapbox/streets-v11',
  center: [-74.0059, 40.7128],
  zoom: 2.0,
  center: [120.04, 38.907],
  interactive: true
});

map.on('style.load', function (e) {
    console.log(e.style.sprite);
    map.addSource('markers', { //Data from PHRER(Public Health Response Effectiveness) analysis of H5N1
        "type": "geojson",
        "data": {
                "type": "FeatureCollection",
                "name": "phrerHtml",
                "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:OGC:1.3:CRS84" } },
                "features": [
                { "type": "Feature", "properties": { "point1": "2005: Emergence of H5N1 in humans",
                                                     "point2": "2006-2010: Drop in cases",
                                                     "point3": "2011: Growth in cases",
                                                     "point4": "2013: Highest number of human H5N1 cases",
                                                     "point5": "2015: H5N1 eradicated in humans",
                                                     "measures":"Movement Control, Screening, Disinfection, Stamping Out",
                                                     "country": "Cambodia", "latitude": 12.5657, "longitude": 104.991, "iso_alpha": "KHM"}, "geometry": { "type": "Point", "coordinates": [ 104.991, 12.5657 ] } },

                { "type": "Feature", "properties": { "point1": "2005: Emergence of H5N1 in humans",
                                                     "point2": "2006: Highest number of human H5N1 cases",
                                                     "point3": "2010-2016: Gradual decrease in cases",
                                                     "point4": "2017: H5N1 eradicated in humans",
                                                     "point5": "2018: H5N1 eradicated in humans",
                                                     "measures":"Movement Control, Screening, Disinfection, Stamping Out, Quarantine, Vaccination, Spraying",
                                                     "country": "China", "year": "2018", "latitude": 35.8617, "longitude": 104.1954, "iso_alpha": "CHN"}, "geometry": { "type": "Point", "coordinates": [ 104.1954, 35.8617 ] } },

                { "type": "Feature", "properties": { "point1": "2006: Emergence of H5N1 in humans",
                                                     "point2": "2007-2011: High number of human cases",
                                                     "point3": "2012-2014: Drop in cases",
                                                     "point4": "2015: Worst human H5N1 outbreak in history",
                                                     "point5": "2018: Zero human cases",
                                                     "measures":"Movement Control, Screening, Disinfection, Stamping Out, Quarantine, Vaccination, Dip/Spray", "country": "Egypt", "year": "2018", "latitude": 26.8206, "longitude": 30.8025, "iso_alpha": "EGY" }, "geometry": { "type": "Point", "coordinates": [ 30.8025, 26.8206 ] } },

                { "type": "Feature", "properties": { "point1": "2005: Emergence of H5N1 in humans",
                                                     "point2": "2006: Highest number of human H5N1 cases",
                                                     "point3": "2007 onwards: Gradual decrease in number of cases",
                                                     "point4": "2018: Zero human cases",
                                                     "measures":"Disinfection, Quarantining, Movement control restrictions", "country": "Indonesia", "year": "2018", "latitude": 0.7893, "longitude": 113.9213, "iso_alpha": "IDN"}, "geometry": { "type": "Point", "coordinates": [ 113.9213, 0.7893 ] } },

                { "type": "Feature", "properties": { "point1": "2004: Emergence of H5N1 in humans",
                                                     "point2": "2005, 2006: Decrease in cases",
                                                     "point3": "2007 onwards: H5N1 eradicated in humans",
                                                     "measures":"Movement control within the country, Screening of areas, Disinfection of premises, Quarantining and Spraying","country": "Thailand", "year": "2018", "latitude": 15.87, "longitude": 100.9925, "iso_alpha": "THA"}, "geometry": { "type": "Point", "coordinates": [ 100.9925, 15.87 ] } },

                { "type": "Feature", "properties": { "point1": "2004: Emergence of H5N1 in humans",
                                                     "point2": "2005: High number of cases",
                                                     "point3": "2006-2013: Gradual decrease in number of cases",
                                                     "point4": "2015 onwards: H5N1 eradicated in humans",
                                                     "measures":"Movement Control, Screening, Disinfection, Stamping Out, Quarantine, Vaccination, Dip/Spray", "country": "Vietnam", "year": "2018", "latitude": 14.0583, "longitude": 108.2772, "iso_alpha": "VNM"}, "geometry": { "type": "Point", "coordinates": [ 108.2772, 14.0583 ] } }
                ]
                }
         });

  var popup = new mapboxgl.Popup({
    closeButton: false,
    closeOnClick: false
  });


  function showPopup(e) {
    // Updates the cursor to a hand (interactivity)
    map.getCanvas().style.cursor = 'pointer';

    // Show the popup at the coordinates with some data
    popup.setLngLat(e.lngLat)
          .setHTML(e.features[0].properties.country
          +"<br>"+ "Measures Applied: " + e.features[0].properties.measures
          +"<br>"+ "Key Events:"
          +"<br>" + e.features[0].properties.point1
          +"<br>" + e.features[0].properties.point2
          +"<br>" + e.features[0].properties.point3
          +"<br>" + e.features[0].properties.point4)
      .addTo(map);
  }

  function hidePopup() {
    map.getCanvas().style.cursor = '';
    popup.remove();
  }

  function checkEmpty(info) {
    return (info) ? info : "No data";
  }

  map.on('mouseenter', 'markers', showPopup);
  map.on('mouseleave', 'markers', hidePopup);

    map.addLayer({
        "id": "markers",
        "source": "markers",
        "type": "circle",
        "paint": {    'circle-color': {
                      property: 'country',
                      type: 'categorical',
                      stops: [
                              ['Vietnam', '#18ceed'],
                              ['Thailand', '#fca059'],
                              ['Indonesia', '#a761f3'],
                              ['Egypt', '#14c995'],
                              ['China', '#ed543a'],
                              ['Cambodia', '#626ef8']]
                     },
          'circle-opacity': 0.8
        },
    });
});


</script>
{% endblock %}
