   <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">  </div>
      </a>

      <!-- Heading -->
      <div class="sidebar-heading">
        Dashboard
      </div>

       <li class="nav-item">
        <a class="nav-link" href="{% url 'user_home' %}">
          <i class="fa fa-map-marker"></i>
          <span>World Outbreaks</span></a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="{% url 'choropleth' %}">
          <i class="fa fa-globe"></i>
          <span>Choropleth Map</span></a>
      </li>

             <hr class="sidebar-divider">

      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dashchart' %}">
          <i class="fa fa-bar-chart"></i>
          <span>Charts</span></a>
      </li>

      <!-- Nav Item - Phrer -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'phrerMap' %}">
          <i class="fa fa-bar-chart"></i>
          <span>Public Health Reponse Effectiveness</span></a>
      </li>


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>